* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  color: #455a64;
  height: auto;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: normal;
  margin: 6em auto 1em auto;
  max-width: 800px;
  padding: 0;
  text-align: center;
}

.App .wrapper {
  border: 1px solid #455a64;
  border-radius: 0.5em;
}

.App .row {
  margin: 0;
}

@media (max-width: 575px) {
  .App {
    margin: 0.8em;
  }

  .main-column-1 {
    margin-bottom: 2.5em;
  }
}
