h1 {
  font-weight: 600;
  margin-bottom: 25px;
}

.CurrentWeather {
  padding: 0;
  margin: 4em auto 2em auto;
}

.weather-icon {
  margin: 0.8em;
}

.main-weather-summary {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 1.5em;
}

.main-weather-description {
  font-weight: 400;
  margin-bottom: 2.5em;
}

.main-details {
  padding: 1em;
  margin: 0.8em 0;
  text-align: left;
}
