.Temperature .temperature-display {
  font-size: 2em;
  font-weight: 600;
  padding: 0;
}

.Temperature .units-display {
  font-size: 1em;
  font-weight: 500;
  padding: 0;
  position: relative;
  top: -0.8em;
}

.Temperature a {
  color: #455a64;
  cursor: default;
  text-decoration: none;
}

.Temperature .active {
  color: blue;
  cursor: pointer;
}

.Temperature .active:hover {
  text-decoration: none;
  cursor: pointer;
}
